* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  border: none;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
  background-color: #0a0612;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}